{deps, [
    {erlz,  {git, "https://github.com/habibutsu/erlz.git", {branch, "master"}}}
    ,{pgapp,  {git, "https://github.com/qibinlin/pgapp.git", {branch, "master"}}}
    ,{cowdb,  {git, "https://github.com/refuge/cowdb.git", {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {cover_enabled, true}
    ]}
]}.


%% == Releases ==

{relx, [{release, {eorm, "0.1.0"},
    [  debugger,observer, wx,runtime_tools,%% test
        xmerl,common_test,
        erlz,pgapp,poolboy,
        cowdb,

        eorm
    ]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.
